* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.container-loc {
  width: 1200px;
  margin: 30px auto;
}
.row-loc {
  overflow: hidden;
}
.row-loc div:first-child {
  padding-left: 0;
}
.row-loc div:last-child {
  padding-right: 0;
}
.col-loc-1 {
  width: 8.33333333%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col-loc-2 {
  width: 16.66666667%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col-loc-3 {
  width: 25%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col-loc-4 {
  width: 33.33333333%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col-loc-5 {
  width: 41.66666667%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col-loc-6 {
  width: 50%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col-loc-7 {
  width: 58.33333333%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col-loc-8 {
  width: 66.66666667%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col-loc-9 {
  width: 75%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col-loc-10 {
  width: 83.33333333%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col-loc-11 {
  width: 91.66666667%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col-loc-12 {
  width: 100%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.bg-col {
  height: 34px;
}
.bg-col--blue {
  background-color: #ccccff;
  background-clip: content-box;
}
h1 {
  font-size: 32px;
  color: #333333;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2 {
  font-size: 28px;
  color: #333333;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3 {
  font-size: 22px;
  color: #333333;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
h4 {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  font-size: 15px;
  color: #333333;
  line-height: 22pt;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
hr {
  margin-bottom: 10px;
}
.link-normal {
  text-decoration: none;
  color: #ff6666;
}
.link-normal:hover {
  text-decoration: underline;
}
.btn-loc {
  display: inline-block;
  text-decoration: none;
  width: 130px;
  height: 35px;
  color: #fff;
  background-color: #a0d468;
  text-align: center;
  margin: 10px 15px;
  line-height: 35px;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 3px 0 0 #8bc152;
}
.btn-loc:hover {
  background-color: #addf7a;
  box-shadow: 0 3px 0 0 #95cb5c;
}
.btn-loc:active {
  background-color: #9cd066;
  box-shadow: none;
  box-sizing: content-box;
  top: 3px;
  position: relative;
}
.btn-loc--sm {
  width: 90px;
  height: 25px;
  line-height: 25px;
}
.btn-loc--grey {
  background-color: #536167;
  box-shadow: 0 3px 0 0 #3b4549;
}
.btn-loc--grey:hover {
  background-color: #677980;
  box-shadow: 0 3px 0 0 #56656b;
}
.btn-loc--grey:active {
  background-color: #536167;
  box-shadow: none;
  box-sizing: content-box;
}
.btn-loc--red {
  background-color: #fc6e51;
  box-shadow: 0 3px 0 0 #e3573b;
}
.btn-loc--red:hover {
  background-color: #fb7f65;
  box-shadow: 0 3px 0 0 #ec694f;
}
.btn-loc--red:active {
  background-color: #fc6e51;
  box-shadow: none;
  box-sizing: content-box;
}
.image {
  width: 258px;
  height: 258px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.image--zoom:after {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  width: 258px;
  height: 258px;
  vertical-align: middle;
  text-align: center;
  background: url(../../img/icon-zoom.png) no-repeat center center rgba(0, 0, 0, 0.5);
}
.image--zoom:hover:after {
  display: block;
  cursor: pointer;
}
