// ALL
* {
	margin: 0;
	padding: 0;
	font-family: @font-family ;
}

@font-family: Roboto, Arial, Helvetica, sans-serif;


// GRID
@padding: 0 18px;

// IMAGES
@img-width: 258px;
@img-height: 258px;
@img-brdr: 4px;