.image{
	width: @img-width;
	height: @img-height;
	border-radius: @img-brdr;
	display: inline-block;

	position: relative;
	overflow: hidden;
  margin: 0 18px;

  // zoom icon on hover
 	&--zoom:after{
    content: '';
   	display: none;    	
    position: absolute;
    top: 0;
    width: @img-width;
    height: @img-height;
    vertical-align: middle;
   	text-align: center;
   	background: url('../../img/icon-zoom.png') no-repeat center center rgba(0,0,0,.5);
  }

	&--zoom:hover:after{
    display: block;
    cursor: pointer;
  }

  // text on hover
  &:hover > &--cap-text{
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
    background: rgba(0,0,0,.5);
    transition: .2s all;
  }
  

  // rotate on hover

  &-flip__container{
    perspective: 800px;
    position: relative; 
  }

  &-flip__front, &-flip__back{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: absolute;
    transition:0.8s;
  }

  &-flip__back--text{
    font-size: 14px;
    color: #000;
    padding: 25px;
    border: 1px solid #cacaca;
    line-height: 20px;
    width: @img-width;
    height: @img-height;
    box-sizing: border-box;
    text-align: center;
    display: table;

    span{
      display: table-cell;
      vertical-align: middle;
    }    
  }

  &-flip__back{
    transform:rotateY(180deg);
  }

  &-flip__container:hover &-flip__front{
    transform:rotateY(180deg);
  } 

  &-flip__container:hover &-flip__back{
    transform:rotateY(360deg);
  } 
}